<footer class="bg-[#F4EFE8] border-t border-base-300 h-20">
    <div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <p class="text-sm text-neutral/80">
                © {new Date().getFullYear()} - Karen Pelletier.
            </p>
        </div>
    </div>
</footer>
