<section class="hero-section min-h-screen bg-[#E1D4BD]">
    <div class="pt-10 max-w-6xl mx-auto">
        <div class="space-y-4">
            <h2
                id="about"
                class="text-black font-black text-4xl leading-none tracking-tight"
            >
                ABOUT
            </h2>
            <div class="flex flex-col md:flex-row gap-4">
                <div class="min-w-50">
                    <h3
                        class="text-black font-black text-xl leading-none tracking-tight mt-6 mb-6"
                    >
                        Let’s Chat! ❤️
                    </h3>
                    <ul class="mb-6">
                        <li>
                            <a
                                class="link link-hover"
                                href="https://www.linkedin.com/in/karen-pelletier-gen%C3%A8ve/"
                                >→ Linkedin</a
                            >
                        </li>
                        <li>
                            <a
                                class="link link-hover"
                                href="mailto:karen.pelletier@unige.ch"
                                >→ Email</a
                            >
                        </li>
                    </ul>
                    <a
                        href="/CV Karen Pelletier_EN.pdf"
                        target="_blank"
                        class="link link-hover">Download my CV ↓</a
                    >
                </div>
                <div class="w-full">
                    <div class="prose">
                        <p>
                            I'm Tom Divon, a researcher, teacher, activiset, and
                            proud father to my Corgi, Alex. My home is the
                            Internet. I explore digital cultures and platformed
                            life, asking critical questions about content
                            creators, political identities, affordances, content
                            moderation, memetic practices, activism, and
                            Palestinian resistance. My work spans the Middle
                            East, Europe, and the United States, using a
                            qualitative toolkit that includes multimodal
                            analysis, interviews, observations, ethnography, and
                            more.
                        </p>
                        <p>
                            In my ongoing work, I study the never-ending
                            cultural frictions between the online world and
                            humanity as I inquire into the two sides: how people
                            use the internet, including creators, lurkers,
                            influencers, and any other agents with interest, as
                            well as how the internet designs, shapes and affects
                            users' behaviors.
                        </p>
                        <p>
                            Among my publications, you'll find my ongoing
                            passion in platforms and the frequent
                            misinterpretations of both Palestinian and Jewish
                            activists and their cultural content moderation. My
                            attention is also given to platformized modes of
                            resistance and witnessing, as well as the interplay
                            of trauma and playfulness in creators' lives,
                            expressed through audiovisual memes and generative
                            AI.
                        </p>
                        <p>Please journey through my world as you scroll</p>
                    </div>
                </div>
                <div class="max-w-50">
                    <img
                        src="https://freight.cargo.site/w/800/q/75/i/936698a6405232ee52047202ef6b6d57325684f91f091c8a344e29a831fc5e5d/TOM-2.jpg"
                        class="w-full"
                    />
                </div>
            </div>
        </div>
    </div>
    <!-- <slot /> -->
</section>
