<section class="hero-section min-h-screen bg-[#F4E4D8]">
    <div class="pt-10 max-w-6xl mx-auto">
        <div class="space-y-4">
            <h2
                id="about"
                class="text-gray font-ivymode text-4xl leading-none tracking-tight"
            >
                ABOUT
            </h2>
            <div class="flex flex-col md:flex-row gap-4">
                <div class="min-w-50">
                    <h3
                        class="text-gray font-black text-xl leading-none tracking-tight mt-6 mb-6"
                    >
                        Let’s Chat!
                    </h3>
                    <ul class="mb-6">
                        <li>
                            <a
                                class="link link-hover text-gray"
                                href="https://www.linkedin.com/in/karen-pelletier-gen%C3%A8ve/"
                                >→ Linkedin</a
                            >
                        </li>
                        <li>
                            <a
                                class="link link-hover text-gray"
                                href="mailto:karen.pelletier@unige.ch"
                                >→ Email</a
                            >
                        </li>
                    </ul>
                    <div class="flex flex-col gap-1">
                        <a
                            href="/CV Karen Pelletier_EN.pdf"
                            target="_blank"
                            class="btn-gray">Download my CV - EN</a
                        >
                        <a
                            href="/CV Karen Pelletier_FR.pdf"
                            target="_blank"
                            class="btn-gray">Download my CV - FR</a
                        >
                    </div>
                </div>
                <div class="w-full">
                    <div class="prose text-gray my-bg">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur.
                        </p>
                        <p>Please journey through my world as you scroll</p>
                    </div>
                </div>
                <div class="w-full md:w-50">
                    <img
                        src="https://www.das-geneve.com/wp-content/uploads/2018/04/Karen-Pelletier-Gene%CC%80ve-222x300.jpg"
                        class="w-full max-w-50 rounded-lg shadow-lg mx-auto mt-10 md:mt-0"
                    />
                </div>
            </div>
        </div>
    </div>
    <!-- <slot /> -->
</section>
