<section class="hero-section bg-[#C3DDD0]">
    <div class="pt-16 max-w-6xl mx-auto">
        <div class="space-y-4">
            <h1
                class="text-black font-black text-7xl xl:text-8xl leading-none tracking-tight"
            >
                Karen Pelletier
            </h1>
            <h2
                class="text-black font-black text-5xl xl:text-6xl leading-tight tracking-tight"
            >
                Media Culture<br />
                Researcher
            </h2>
        </div>
    </div>
</section>
