<section class="hero-section min-h-screen bg-abricot-beige">
    <div class="pt-10 max-w-6xl mx-auto">
        <div class="space-y-4">
            <h2
                id="teaching"
                class="text-black font-black text-4xl leading-none tracking-tight"
            >
                Teaching
            </h2>
            <div class="flex gap-4"></div>
        </div>
    </div>
    <!-- <slot /> -->
</section>
