---
import { Picture } from "astro:assets";
---

<section class="hero-section min-h-screen bg-[#EACBC8]">
    <div class="pt-10 max-w-6xl mx-auto">
        <div class="space-y-4">
            <h2
                id="work-in-progress"
                class="text-black font-black text-4xl leading-none tracking-tight"
            >
                Work in Progress
            </h2>
            <div class="flex gap-4 mt-8">
                <div class="card card-dash bg-base-100 w-96">
                    <div class="card-body">
                        <h2 class="card-title">
                            Playful Trauma: Users Embodied Expressions on TikTok
                            During The War in Ukraine 🇺🇦
                        </h2>
                        <Picture
                            src="https://freight.cargo.site/t/original/i/a7ae3d3fedfdf412b8c1541c5f974c6e87d5c9760e03fb7e06f3b399b8e495c3/1509783.jpeg"
                            alt="Playful Trauma: Users Embodied Expressions on TikTok During The War in Ukraine 🇺🇦"
                            width={600}
                            height={600}
                        />
                        <p>
                            This work examines the affordances and vernaculars
                            of ludicrousness, cynicism, and humour on TikTok, as
                            they give rise to the concept of "playful trauma" by
                            looking at the ways in which playful renarration &
                            embodiments of trauma live in digital spaces.
                        </p>
                        <p>co-author: @moaerikssonkrut</p>
                        <div class="card-actions justify-center">
                            <button class="btn btn-primary btn-sm">READ</button>
                        </div>
                    </div>
                </div>
                <div class="card card-dash bg-base-100 w-96">
                    <div class="card-body">
                        <h2 class="card-title">
                            The Harm of AirDrop: Technology-Facilitated Sexual
                            Violence in Everyday Lives of Young Women
                        </h2>
                        <Picture
                            src="https://freight.cargo.site/t/original/i/b130d84d5c1b6df8374135139da31e22669483baef551e4fafc366c35d4f79ef/190821-Adelstein-Air-Drop-Dick-Pics-tease_qhj5ln.gif"
                            alt="The Harm of AirDrop: Technology-Facilitated Sexual Violence in Everyday Lives of Young Women"
                            width={600}
                            height={600}
                        />
                        <p>
                            This work examines the nonconsensual unfair use of
                            Apple's AirDrop tech, in which anonymous men use it
                            to bombard young women in public spaces with
                            sexually explicit pornographic images and texts.
                        </p>
                        <p>co-author: @NicoletteLittl</p>
                        <div class="card-actions justify-center">
                            <button class="btn btn-primary btn-sm">READ</button>
                        </div>
                    </div>
                </div>
                <div class="card card-dash bg-base-100 w-96">
                    <div class="card-body">
                        <h2 class="card-title">
                            Playful Platforms: The Memeification of
                            Participatory Violence Acts on TikTok
                        </h2>
                        <Picture
                            src="https://freight.cargo.site/t/original/i/4e05466a63bf2a343fff81447a79f9dd374117e468856d08e1e3e25dce055b92/Untitled_Artwork.jpeg"
                            alt="Playful Platforms: The Memeification of Participatory Violence Acts on TikTok"
                            width={600}
                            height={600}
                        />
                        <p>
                            This work examines memetic-centered platforms as
                            breeding ground for inflammatory content, while
                            looking at TikTok’s #challenges culture and their
                            role in the Israeli-Palestinian conflict (🇵🇸) and
                            the anti-religious protests in Iran, 2022 (🇮🇷).
                        </p>
                        <p>co-author: @NicoletteLittl</p>
                        <div class="card-actions justify-center">
                            <button class="btn btn-primary btn-sm">READ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <slot /> -->
</section>
